html, body{
    height: 100%;
    width: 100%;
}
body{
    min-width: 320px;
}
.wrapper{
    min-height: 100%;
    display:flex;
    flex-direction: column;
}
main.main{
    flex: 1 1 auto;
}
main{
    margin:0;
}

/*===========HEADER===========*/
.main{
    
}
.cart__num {
    display: flex;
    background-color: #d62240;
    width: 32px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-top: 7px;
    margin-left: 0;
  }
  #cart-title{
    margin-right: 1px;
    margin-bottom: 0;
  }
.navbar{
    padding-left: 1%;
    background-color: #004700;
    padding-right: 1%;
}
.navbar-brand{
    font-weight: bold;
    color: red;
    font-size: 35px;
}
.row{
    --bs-gutter-x: 0;
}
.nav-item{
    font-size:18px;
    margin-left: 5px;
}
/*============MAIN============*/
.main{

}
.container-fluid{
    --bs-gutter-x: 0;
}
#cart-body{
    display: flex;
    
}
#card-id{
    
}
#product-price{
    font-size: 22px;
    font-weight: bold;
}
#product-title{
    font-size: 30px;
}
#img_c{
    margin-right: 0;
    width: 277px;
}
.product-count{
    font-size: 30px;
    width: 50px;
    border: none;
    text-decoration: none;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
.btn_count{
    font-size: 30px;
    font-weight: bold;
    width: 3rem;
    border-radius: 50%;
}
#order{
    font-size: 30px;
    border-radius: 20px;
    background-color: rgb(0, 211, 0);
    padding-left: 10%;
    padding-right: 10%;
    transition: 0.5s;
}
#order:hover{
    background-color: rgb(40, 255, 40);
    transition: 0.5s;
}
#clearbut{
    font-size: 20px;
    height: 3rem;
    border-radius: 20px;
    background-color: rgb(0, 211, 0);
    padding-left: 5%;
    padding-right: 5%;
    transition: 0.5s;
}
#clearbut:hover{
    background-color: rgb(40, 255, 40);
    transition: 0.5s;
}
#btnscart1{
    display: flex;
    justify-content: right;
    margin-bottom: 2rem;
}
#btnscart{
    display: flex;
    justify-content: center;
    
}
#buttons_on_cart{
    margin-top: 30px;

}
#product-price{
    display: flex;
    justify-content: center;
}
#btns{
    display: flex;
    align-self: start;
    justify-content: center;
}
/*===========FOOTER===========*/
.footer{
    background-color: rgb(0, 71, 0);
}
hr{
    width: 50%;
}
#footer-link, #email-link, #inf-adr{
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}
h5{
    color:white;
}
.col{
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 25px;
}
.container-fluid{
    height: fit-content;
}
#fav{
    margin-top: 5px;
}
#conteiner-res{
    bottom: 0;
}
.res{
    color: black;
    font-weight: bold;
    font-size: 30px;
}
#res1{
    text-align: right;
}
#sum{
    right: 0;
}


/*-Кнопка навигации по странице-*/
.btn-up {
    position: fixed;
    background-color: #f57c00;
    right: 20px;
    bottom: 30px;
    border-radius: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
    color: #fff;
    width: 70px;
    height: 70px;
    opacity: 1;
    transform: translateY(0);
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
  }
  
  .btn-up_hide {
    display: none;
  }
  
  .btn-up_hiding {
    opacity: 0;
    transform: translateY(100px);
  }
  
  .btn-up-icon {
    width: 50px;
    height: 50px;
    fill: currentcolor;
  }
  
  @media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
      background-color: #ef6c00;
    }
  }
  /*===========================================*/


  
  @media screen and (min-width:100px) and (max-width:1000px) {
    .wrapper{
        width: 100%;
    }
    .breadcrumb-item{
        font-size: 40px;
    }
    #categor-title{
        width: 100%;
        
    }
    .card{
        width: 0;
        width: fit-content;
    }
    .card-img-top{
        width: 30rem;
        height: 20rem;
    }
    .col{
        width: fit-content;
        margin: auto;
    }
    .row{
        display: grid;
        
    }
    .card-body{
        display: block;
        margin-bottom: 30px;
        align-items: center;
    }
    .categoria{
        font-size: 45px;
        text-align: center;
    }
    #subtitle{
        font-size: 75px;
    }
    .col{
        font-size: 75px;
        margin-bottom: 50px;
    }
    #inf-adr, #email-link{
        font-size: 40px;
        text-align: center;
    }
    #footer-link{
        font-size: 40px;
        text-align: center;
    }
    #foot h5{
        font-size:50px;
        text-align: center;
        
    }
    #fav{
        width: fit-content;
        display: flex;
        justify-content: center;
    
    }
    .fa-brands {
        font-size: 1em;
    }
    #favs{
        display:flex;
    }
    .btn-up {
        border-radius: 75px;
        width: 150px;
        height: 150px;
    
      }
      header{
        height: 150px;
        z-index: 1000;
      }
      #hed{
        height: 150px;
      }
      .navbar-toggler{
        width: 100px;
        height: 100px;
        background-color: rgb(21, 255, 0);
      }
      .navbar-toggler-icon{
        width: 80px;
        height: 80px;
        background-color: rgb(21, 255, 0);
      }
      .container-fluid{
        height: fit-content; }
        .navbar-brand{
            font-size: 100px;
        }
        .form-control{
            font-size: 40px;
            width:650px;
        }
        .btn{
            font-size: 50px;
            color:white;
        }
        .nav-link{
            font-size: 50px;
        }
        .cart__num{
            font-size: 50px;
            width: 100px;
            height: 100px;
        }
        #text{
            font-size: 50px;
        }
        #text1{
            font-size: 55px;
        }
        li{
            font-size: 50px;
        }
        #catalog{
            width: 100%;
            height: fit-content;
        }
        #cat{
            font-size: 75px;
            margin-bottom: 50px;
        }
        #categ{
            font-size: 50px;
            
        }
        p{
            margin-bottom: 50px;
        }
        #card-id img{
            width: 35rem;
            height: 35rem;
        }
        .card-body h5{
            font-size: 70px;
            width: fit-content;
        }
        .card-body{
            width: fit-content;
        }
        .btnA{
            width: 35rem;
            height: 5rem;
            font-size: 50px;
        }
        #product-price{
            font-size: 50px;
        }
        .page-link{
            font-size: 60px;
            width: 3rem;
        }
        .btn{
            font-size: 60px;
            color:black
        }
        .page-item{
            display: grid;
            grid-column: 1/3;
            grid-row: 2/4;
        }
        #img_c{
            width: 0;
            width: 100%;
        }
    }